.user-container-outer {
  position: relative;
  left: -10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  .user-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    border: 1px dashed #000;
    margin-top: 10px;
    .close {
      margin-left: 8px;
      cursor: pointer;
      color: gray;
    }
    &.admin {
      border: 1px solid red;
    }
  }
}
