:host {
  display: flex;
  flex-direction: column;
}
img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  cursor: pointer;
}

.chart-type {
  .chart-name {
    font-size: 20px;
    color: red;
  }
}
.g2-container {
  flex: 1;
}
