.container {
  display: flex;
  .display {
    ul {
      display: flex;
    }
  }
}
.tip {
  font-weight: 500;
  font-size: 20px;
}
.info-contianer {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid pink;
  width: 230px;
  .info-item {
    display: flex;
    justify-content: space-between;
  }
}
